<section id="configuracion-tutor" class="margin-top-60 margin-bottom-16">
  <div class="fondo position-fixed">
  </div>
    <div class="contenedorImagenCard margin-bottom-16">
      <img class="imagenCard" src="{{ urlImagen }}" alt="Card image cap">
      <div class="centered">{{tituloDePagina}}</div>  
    </div>
    <div class="container" *ngIf="!showChartEstadisticas">
      <ul class="list-group list-group-flush margin-bottom-16">
        <li
          class="list-group-item d-flex justify-content-between align-items-center fondoTabla"
        >
          <strong>Alumnos</strong>
          <strong>Opciones</strong>
        </li>
        <li
          *ngFor="let alumno of alumnos"
          class="list-group-item d-flex justify-content-between align-items-center fondoTabla"
        > 
            <div style="width: 20%;" class="listAlumnos">
              <div>
                <img style="height: 51px; margin-left: 0px;" src="{{ alumno.avatarUrl }}">              
              </div>
              <span>
                {{ alumno.nombre }}
              </span>            
            </div>
              <div style="text-align: center; width: 130px;">
                {{ dateFormatting(alumno.ultimoAcceso) }}
              </div>
              <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Basic example"
              >
              <button
              type="button"
              (click)="editarAlumno(alumno.id, alumno.nombre)"
              class="btn btn-info"
                >
                <i class="fa fa-edit"></i>
              </button>
              <button
              type="button"
              (click)="estadisticasAlumno(alumno.id, alumno.nombre)"
              class="btn btn-success"
              >
              <i class="fa fa-bar-chart"></i>
              </button>
              <button
                  type="button"
                  data-toggle="modal"
                  data-target="#eliminar"
                  class="btn btn-danger"
                  (click)="eliminarAlumno(alumno.id, alumno.nombre)"
                  >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
          </li>
        </ul>
        <button (click)="volver()"
        class="btn btn-lg btn-block btn-personalizado-inverso">
         Volver 
        </button>
    </div>
    <div class="container" *ngIf="showChartEstadisticas">
      <div style="display: block" class="borde" id="chartEstadisticas">
        <canvas
          mdbChart
          chartType="line"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
        >
        </canvas>
      </div>
      <div style="padding-top: 15px;">
        <button
          (click)="volver(false)"
          class="btn btn-lg btn-block btn-personalizado-inverso"
        >
          Volver
        </button>
      </div>
    </div>
    
  </section>