.contenedorImagenCard {
    height: 150px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
  }
  
  .imagenCard {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
  }
  
  .centered {
    font-size: x-large;
    text-shadow: 3px 3px 5px black; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .password-popup {
    display: none;
    position: relative;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    /* And position was fixed, changed to relative.*/
    margin: auto;
    text-align: center;
    top: 50%;
    width: 50%;
    height: 50%;
  }
  
  .form-container {
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    background-color: white;
  }
  
  /*Style to inputs in PopUP */
  .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /*DO SOMETHING WHEN INPUT HAS FOCUS.*/
  .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /*CANCEL BUTTON STYLE*/
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  