<section id="editar-alumno">
  <div class="fondo position-fixed"> </div>
  <div class="container textoPrincipal" style="padding-top: 90px;">
    <form name="formAlumno" #formAlumno="ngForm" (ngSubmit)="save(formAlumno)">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="alumno.nombre" maxlength="20" id="nombreInput" type="text" name="nombre" class="form-control"  [(value)]="AlumnoParaEditar == null? '': AlumnoParaEditar.nombre" placeholder="Nombre" required autocomplete="off" >
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input [(ngModel)]="alumno.apellido" id="apellidoInput" maxlength="20" type="text" name="apellido" class="form-control" [(value)]="AlumnoParaEditar == null? '': AlumnoParaEditar.apellido" placeholder="Apellido" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="documento">Documento</label>
        <div class="row">
          <div class="col-4">
            <select [(ngModel)]="alumno.tipoDocumento" id="tipoDocumentoSelect" class="form-control" name="tipoDoc" placeholder="Tipo">
              <option [ngValue]="null" hidden>Tipo</option>
              <option *ngFor="let tipo of tiposDoc" [ngValue]="tipo">{{ tipo }}</option>
            </select>
          </div>
          <div class="col-8">
            <input [(ngModel)]="alumno.documento" maxlength="9" id="documentoInput" type="tel" name="documento" class="form-control" [(value)]="AlumnoParaEditar == null? '': AlumnoParaEditar.documento.numero" placeholder="Documento" required autocomplete="off">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <div class="input-password" id="emojiPasswordInput">
          <img *ngFor="let emoji of emojisSeleccionados" src="{{ emoji.iconoURL }}" style="margin-left: 3px; margin-right: 3px;" class="imagen-emoji">
          <button id="search-clear" type="button" class="btn bg-transparent"  (click)="clearEmoji()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="container">
          <div class="row">
            <div class="col-3 no-padding d-flex justify-content-center" style="margin-bottom: 15px;" *ngFor="let emoji of emojis">
              <button type="button" (click)="addEmoji(emoji)" class="btn btn-lg btn-info"><img src="{{ emoji.iconoURL }}" class="imagen-emoji"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Avatar</label>
        <div class="container">
          <div class="row" id="avatarInput">
            <div class="col-3 no-padding d-flex justify-content-center" style="margin-bottom: 15px;" *ngFor="let avatar of avatares; let i = index">
              <img src="{{ avatar.url }}" class="imagen-avatar">
              <input class="form-check-input" type="radio" id="avatar-sel-{{i}}" name="avatar-sel" (click)="seleccionar(avatar)">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-personalizado-inverso margin-bottom-30" >{{AlumnoParaEditar == null? 'Registrar Alumno' : 'Editar Alumno'}}</button>
    </form>
  </div>
</section>
