<section id="emojis" class="margin-top-75">
  <div class="container">
    <div class="card mb-3" (click)="misCursos()">
      <div class="contenedorImagenCard">
        <img class="card-img-top imagenCard" src="assets/img/empty-classroom-stock-image.jpg" alt="Card image cap">
        <div class="centered">Mis Cursos</div>  
      </div>
      <div class="card-body">
  <!--       <h5 class="card-title">Mis cursos</h5>
  --><!--       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  -->      <p class="card-text"><small class="text-muted">Ver, modificar y añadir cursos</small></p>
      </div>
    </div>
    <div class="card mb-3" (click)="misActividades()">
      <div class="contenedorImagenCard">
        <img class="card-img-top imagenCard" src="assets/img/desktop.jpg" alt="Card image cap">
        <div class="centered">Mis Actividades</div>  
      </div>
      <div class="card-body">
  <!--       <h5 class="card-title">Mis cursos</h5>
  --><!--       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  -->      <p class="card-text"><small class="text-muted">Ver, modificar y añadir actividades</small></p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="contenedorImagenCard">
        <img class="card-img-top imagenCard" src="assets/img/stats.jpg" alt="Card image cap">
        <div class="centered">Estadísticas</div>  
      </div>
      <div class="card-body">
  <!--       <h5 class="card-title">Mis cursos</h5>
  --><!--       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  -->      <p class="card-text"><small class="text-muted">Ver las estadísticas principales</small></p>
      </div>
    </div>
  </div>
  
</section>