<section id="editar-tarea" class="margin-top-90">
  <div class="container">
    <form name="formTarea" #formTarea="ngForm" (ngSubmit)="save(formTarea)">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          [(ngModel)]="tarea.nombre"
          type="text"
          name="nombre"
          class="form-control"
          placeholder="Nombre"
          required
          autocomplete="off"
        />
      </div>
      <div class="form-group">
        <label for="asignatura">Asignatura</label>
        <select
          [(ngModel)]="tarea.asignaturaId"
          class="form-control"
          name="asignatura"
          placeholder="Asignatura"
        >
        <option [ngValue]="null">Seleccionar una asignatura...</option>
          <option
            *ngFor="let asignatura of asignaturas"
            [ngValue]="asignatura.id"
          >
            {{ asignatura.nombre }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="asignatura">Fecha límite</label>
        <div class="input-group ">
          <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="select(model)">
          <div class="input-group-append"  >
            <button class="btn btn-outline-secondary picto-calender" id="calendarButton" type="button" (click)="d.toggle()" ><img src="/assets/img/calendar.png"></button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-block btn-personalizado">
        Guardar
      </button>
    </form>
  </div>
</section>

<!-- Modal -->
<button
  id="open-modal"
  [hidden]="true"
  data-toggle="modal"
  data-target="#informacion"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="informacion"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ludikon</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ mensaje }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-personalizado"
        >
          Aceptar
        </button>
        <button
          type="button"
          data-dismiss="modal"
          (click)="agregarDetalle()"
          class="btn btn-personalizado"
        >
          Agregar Descripción
        </button>
      </div>
    </div>
  </div>
</div>
