<section id="detalle-multimedia" class="margin-top-60" [hidden]="!isMultimedia">
  <div class="contenedorImagenCard margin-bottom-16">
    <img class="imagenCard" *ngIf="tarea && tarea.asignatura.iconoURL !== null" src="{{ tarea.asignatura.iconoURL }}" alt="Card image cap">
    <div class="centered" *ngIf="tarea">{{ tarea.asignatura.nombre }}</div>  
  </div>
  <div class="container">
    <div class="form-group">
      <h4 *ngIf="tarea">{{ tarea.nombre }}</h4>
      <p>{{ detalleMultimedia.descripcion }}</p>
      <div *ngIf="videoId != null">
        <h3>Vea el siguiente video</h3>

        <youtube-player
          [videoId]="videoId"
          suggestedQuality="default"
          width="100%"
        >
        </youtube-player>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-personalizado btn-lg btn-block"
      (click)="continuarActividades()"
      [disabled]="actividades.length == 0"
    >
      Realizar las actividades
    </button>
    <button
    type="button"
    class="btn btn-personalizado btn-block btn-lg"
    (click)="volver()"
    >
      Volver
    </button>

  </div>

</section>

<!-- Modal -->
<button
  id="open-modal"
  [hidden]="true"
  data-toggle="modal"
  data-target="#informacion"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="informacion"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ludikon</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ mensaje }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-personalizado"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<section
  id="realizacion-preguntas"
  class="margin-top-90"
  [hidden]="!isPreguntas"
>
  <app-realizacion-preguntas
    #realizacionPreguntas
    [id]="actividadId"
    (finalizado)="onFinalizado($event)"
  >
    ></app-realizacion-preguntas
  >
</section>

<section
  id="realizacion-pasapalabra"
  class="margin-top-90"
  [hidden]="!isPasapalabra"
>
  <app-realizacion-pasapalabra #realizacionPasapalabra [id]="actividadId" (finalizado)="onFinalizado($event)"
  >
    ></app-realizacion-pasapalabra>
</section>
