<section id="curso" class="margin-top-60">
  <div class="contenedorImagenCard margin-bottom-16">
    <img class="imagenCard" src="{{ urlImagen }}" alt="Card image cap">
    <div class="centered">{{ nombre }}</div>  
  </div>
  <div class="container">
    <div *ngIf="asignaturaSelected" id="nuevaTarea">
      <button
        type="button"
        (click)="crearTarea()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Nueva tarea
      </button>
      <ul class="list-group list-group-flush margin-bottom-16">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <strong>Tareas</strong>
          <strong>Opciones</strong>
        </li>
        <li
          *ngFor="let tarea of tareas"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div>{{ tarea.nombre }}</div>
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic example"
          >
            <button
            type="button"
              (click)="editarTarea(tarea.id)"
              class="btn btn-info"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              (click)="eliminarTarea(tarea.id, tarea.nombre)"
              data-toggle="modal"
              data-target="#eliminar"
              class="btn btn-danger"
            >
              <i class="fa fa-trash"></i>
            </button>
        </div>
      </li>
    </ul>
    </div>
    <div *ngIf="!asignaturaSelected" id = 'nuevaAsignatura'>
      <button
        type="button"
        (click)="crearAsignatura()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Nueva asignatura
      </button>
      <ul class="list-group list-group-flush margin-bottom-16">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <strong>Asignaturas</strong>
          <strong>Opciones</strong>
        </li>
        <li
          *ngFor="let asignatura of asignaturas"
          class="list-group-item d-flex justify-content-between align-items-center"
          (click)="seleccionarAsignatura(asignatura)"
        >
          <div>
            <img
              style="height: 31px; margin-right: 10px;"
              src="{{ asignatura.iconoURL }}"
            />{{ asignatura.nombre }}
          </div>
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic example"
          >
            <button
              type="button"
              (click)="editar(asignatura.id)"
              class="btn btn-info"
            >
            <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              (click)="eliminar(asignatura.id, asignatura.nombre)"
              class="btn btn-danger"
            >
            <i class="fa fa-trash"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <button
      (click)="volverACursos()"
      class="btn btn-lg btn-block btn-personalizado-txtblanco"
    >
      Volver
    </button>
  </div>
</section>