<section id="curso" class="margin-top-60">
  <div class="contenedorImagenCard margin-bottom-16">
    <img class="imagenCard" src="{{ imagen }}" alt="Card image cap">
    <div class="centered">{{ nombre }}</div>  
  </div>
  <div class="container">
    <div *ngIf="asignaturaSelected" id="nuevaTarea">
      <button
        type="button"
        (click)="crearTarea()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Nueva tarea
      </button>
      <div *ngFor="let tarea of tareas" class="card mb-3">
        <div class="contenedorImagenCard" (click)="editarTarea(tarea.id)">
          <div
            style="{{tarea.color}}"
            class="card-img-top imagenCard"
            alt="Card image cap"
          ></div>
          <div class="centered" style="text-transform: uppercase;">{{ tarea.nombre }}</div>
        </div>
        <div class="box">
          <div class="cardText">
            <p  style="padding: 5px;" class="card-text text-muted">Modifica y gestiona tu tarea: {{tarea.nombre}}</p>
          </div>
          <div class="actionButtons btn-group btn-group-sm" role="group">
            <button type="button" (click)="editarTarea(tarea.id)" class="btn btn-info"><i class="fa fa-edit"></i></button>
            <button type="button" (click)="eliminarTarea(tarea.id, tarea.nombre)" data-toggle="modal" data-target="#eliminar" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!asignaturaSelected" id = 'nuevaAsignatura'>
      <button
        type="button"
        (click)="crearAsignatura()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Nueva asignatura
      </button>
      <div *ngFor="let asignatura of asignaturas" class="card mb-3">
        <div class="contenedorImagenCard" (click)="seleccionarAsignatura(asignatura)">
          <img
            class="card-img-top imagenCard"
            src="{{ asignatura.iconoURL }}"
            alt="Card image cap"
          />
          <div class="centered">{{ asignatura.nombre }}</div>
        </div>
        <div class="box">
          <div class="cardText">
            <p  style="padding: 5px;" class="card-text text-muted">Accede y controla la asignatura: {{asignatura.nombre}}</p>
          </div>
          <div class="actionButtons btn-group btn-group-sm" role="group">
            <button type="button" (click)="editar(asignatura.id)" class="btn btn-info"><i class="fa fa-edit"></i></button>
            <button type="button" (click)="eliminar(asignatura.id, asignatura.nombre)" data-toggle="modal" data-target="#eliminar" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="volverACursos()"
      class="btn btn-lg btn-block btn-personalizado-txtblanco"
    >
      Volver
    </button>
  </div>
</section>