<section id="curso" class="margin-top-60 margin-bottom-16">
  <div class="contenedorImagenCard margin-bottom-16">
    <img class="imagenCard" src="{{ imagen }}" alt="Card image cap">
    <div class="centered">{{ nombre }}</div>  
  </div>
  <div class="container">
    <div *ngIf="asignaturaSelected" id="nuevaTarea">
      <button
        type="button"
        (click)="crearTarea()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Nueva tarea
      </button>
      <div *ngFor="let tarea of tareas" class="card mb-3">
        <div class="contenedorImagenCard" (click)="editarTarea(tarea.id)">
          <div
            [style.background-color]="tarea.color"
            class="card-img-top imagenCard"
            alt="Card image cap"
          ></div>
          <div class="centered" style="text-transform: uppercase;">{{ tarea.nombre }}</div>
        </div>
        <div class="box" style="margin-bottom: 5px;">
          <div class="cardText">
            <p style="padding: 5px; padding-top:7px;" class="card-text text-muted">
              Opciones
            </p>
          </div>  
          <div class="actionButtons btn-group btn-group-sm" role="group">
            <button type="button" (click)="editarTarea(tarea.id)" class="btn btn-info"><i class="fa fa-edit"></i></button>
            <button type="button" (click)="eliminarTarea(tarea.id, tarea.nombre)" data-toggle="modal" data-target="#eliminar" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!asignaturaSelected" id = 'nuevaAsignatura'>
      <button
        type="button"
        (click)="crearAsignatura()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Nueva asignatura
        <i class="fa fa-book icon"></i>
      </button>
      <button
        type="button"
        (click)="showListadoDeAlumnos()"
        class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
      >
        Listado de Alumnos
        <i class="fa fa-child icon"></i>
      </button>
      <div *ngIf="todaviaNoHayAsignaturas" class="noAsignaturasAun">
        <h6>No se han registrado asignaturas aun</h6>
      </div>
      <div *ngFor="let asignatura of asignaturas" class="card mb-3">
        <div class="contenedorImagenCard" (click)="seleccionarAsignatura(asignatura)">
          <img
            class="card-img-top imagenCard"
            src="{{ asignatura.imagen }}"
            alt="Card image cap"
          />
          <div class="centered">{{ asignatura.nombre }}</div>
        </div>
        <div class="box" style="margin-bottom: 5px;">
          <div class="cardText">
            <p style="padding: 5px; padding-top:7px;" class="card-text text-muted">
              Opciones
            </p>
          </div>
          <div class="actionButtons btn-group btn-group-sm" role="group">
            <button type="button" (click)="editar(asignatura.id)" class="btn btn-info"><i class="fa fa-edit"></i></button>
            <button type="button" (click)="eliminar(asignatura.id, asignatura.nombre)" data-toggle="modal" data-target="#eliminar" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="volverACursos()"
      class="btn btn-lg btn-block btn-personalizado-txtblanco"
    >
      Volver
    </button>
  </div>
</section>
<section>
  <div class="listado-alumnos-modal" id="listado-alumnos-modal">
    <div class="modal-stats" id="modal-stats">
        <div id="close-modal">
            <span (click)="hideModal()" class="close">&times;</span>
        </div>
        <div>
            <ul class="list-group list-group-flush margin-bottom-16">
                <div *ngIf="todaviaNoHayAlumnos" class="noAlumnosEnElCurso">
                  <img src="assets\img\noSeEncontraronAlumnosEnElCurso.jpg" id="noAlumnosEnElCursoItem">
                  <h6 id="noAlumnosEnElCursoItem">Ups, no se encontraron alumnos en este curso</h6>
                </div>
                <li *ngIf="!todaviaNoHayAlumnos" class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Alumnos</strong>
                    <strong>Opciones</strong>
                </li>
                <li *ngFor="let alumno of listadoDeAlumnos"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <div style="width: 20%;" class="listAlumnos">
                        <div>
                            <img style="height: 51px; margin-left: 0px;" src="{{ alumno.avatarUrl }}">
                        </div>
                        <span>
                            {{ alumno.nombre }}
                        </span>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-success" (click)="mostrarEstadisticasDelAlumno(alumno.nombre, alumno.id)">
                            <i class="fa fa-bar-chart"></i>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="eliminarAlumno(alumno.nombre, alumno.id)">
                          <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
</div>
</section>