<section id="cursos" class="margin-top-60 margin-bottom-16">
  <div class="contenedorImagenTop margin-bottom-16">
    <img
      class="imagenCard"
      src="assets/img/empty-classroom-stock-image.jpg"
      alt="Card image cap"
    />
    <div class="centered">Mis Cursos</div>
  </div>
  <div class="container">
    <button
      type="button"
      (click)="crear()"
      class="btn btn-personalizado btn-lg btn-block margin-bottom-16"
    >
      Nuevo curso
    </button>
    <div *ngFor="let curso of cursos" class="card mb-3">
      <div class="contenedorImagenCard" (click)="irACurso(curso.id)">
        <img
          class="card-img-top imagenCard"
          src="{{ curso.imagen }}"
          alt="Card image cap"
        />
        <div class="centered">{{ curso.nombre }}</div>
      </div>
      <div class="box" style="margin-bottom: 5px;">
        <div class="cardText">
          <p style="padding: 5px; padding-top:7px;" class="card-text text-muted">
            Opciones
          </p>
        </div>
        <div class="actionButtons btn-group btn-group-sm" role="group">
          <button
            type="button"
            (click)="generarCodigoCurso(curso.id)"
            class="btn btn-personalizado-txtblanco"
          >
            <i class="fa fa-share-alt"></i>
          </button>
          <button type="button" (click)="editar(curso.id)" class="btn btn-info">
            <i class="fa fa-edit"></i>
          </button>
          <button
            type="button"
            (click)="eliminar(curso.id, curso.nombre)"
            data-toggle="modal"
            data-target="#eliminar"
            class="btn btn-danger"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <button
      (click)="volverAHome()"
      class="btn btn-lg btn-block btn-personalizado-txtblanco"
    >
      Volver
    </button>
  </div>
</section>
