table, td, th {
  border: 0px solid black;
}

table {
  border-collapse: collapse;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.espacio {
  font-size: 0;
  text-align: center;
}

.boton-celda {
  border: 0 none transparent;
  padding:0;
  margin:0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}