
<section id="login" class="margin-top-90">
  <img class="wave" src="/assets/img/wave.png">
	<div class="container">
		<div class="login-content" style="justify-content: center;">
			<form action="index.html">
				<img  style="max-width: 300px;max-height: 120px; padding-bottom: 20px;" src="/assets/img/Ludikon-logo.png">
           		<div id="div-dni" class="input-div one">
           		   <div class="i">
           		   		<i class="fa fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Numero de Documento</h5>
           		   		<input id="InputDocumento" (blur)="removeFocus()" (click)="addFocus('div-dni')" type="text" class="input focus" autocomplete="off">
           		   </div>
           		</div>
           		<div id="div-password" class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fa fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
						   <input id="inputPassword" (blur)="removeFocus()" (click)="addFocus('div-password')" type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Olvidaste tu contraseña?</a>
                <input type="submit" (click)="login()" class="btn btn-personalizado" value="Iniciar Sesión">
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center" style="color: #999;
                    font-size: 0.9rem;">
                        ¿No tenes cuenta? <a routerLink="/" class="text-primary m-l-5"><b >Registrate</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Modal -->
<button
  id="open-modal"
  [hidden]="true"
  data-toggle="modal"
  data-target="#informacion"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="informacion"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edusis</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ mensaje }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-personalizado"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>