<section id="login">
<!--   <img class="wave" src="/assets/img/wave.png" />
 -->  
  <div class="fondo position-fixed">
  </div>

  <div class="container" style="padding-top: 90px;">
    <div class="login-content" style="justify-content: center">
      <form action="index.html">
        <img
          style="max-width: 300px; max-height: 120px; padding-bottom: 20px"
          src="/assets/img/Ludikon-logo.png"
        />
        <div id="div-dni" class="input-div one">
          <div class="i">
            <i class="fa fa-user"></i>
          </div>
          <div class="div">
            <h5>Número de Documento</h5>
            <input
              tabindex="1"
              (keydown.Tab) = "addFocus('div-password')"
              id="InputDocumento"
              (blur)="removeFocus()"
              (click)="addFocus('div-dni')"
              type="text"
              class="input focus"
              autocomplete="off"
            />
          </div>
        </div>
        <div id="div-password" class="input-div pass">
          <div class="i">
            <i class="fa fa-lock"></i>
          </div>
          <div class="div">
            <h5>Contraseña</h5>
            <input
              tabindex="2"
              id="inputPassword"
              (blur)="removeFocus()"
              (click)="addFocus('div-password')"
              type="password"
              autocomplete="off"
              class="input focus"
            />
          </div>
        </div>
        <a href="#">¿Olvidaste tu contraseña?</a>
        <input
          tabindex="3"
          type="submit"
          (click)="login()"
          class="btn btn-personalizado-inverso"
          value="Iniciar Sesión"
        />
        <div class="form-group m-b-0">
          <div
            class="col-sm-12 text-center"
            style="color: #fff; font-size: 0.9rem"
          >
            ¿No tenés cuenta?
            <a routerLink="/registro" class="text-primary m-l-5"
              ><b>Registrate</b></a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</section>