#limheight {
  height: 300px; /*your fixed height*/
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
}

#limheight li {
  display: inline-block; /*necessary*/
}

.foto-principal {
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.card {
  border-radius: 10px;
}

.contenedorImagenCard {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.imagenCard {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
}

.centered {
  font-size: x-large;
  text-shadow: 3px 3px 5px black; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.realizada {
  background-color: rgb(209, 209, 209);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}