<div class="fondo position-fixed">
  <section id="preguntas">
    <div class="container canvas-confetti-btn animate__animated">
      <div *ngIf="preguntaActual && !revision && !final">
        <div class="text-center">
          <h1 style="color: #c0def6" *ngIf="timeLeft > 5">
            {{ timeLeft }} <i class="fa fa-clock-o"></i>
          </h1>
          <h1 style="color: red" *ngIf="timeLeft <= 5">
            {{ timeLeft }} <i class="fa fa-clock-o"></i>
          </h1>
        </div>
        <div class="pregunta margin-bottom-30">
          <p>{{ preguntaActual.pregunta }}</p>
        </div>
        <div class="respuestasContainer">
          <div class="respuesta" *ngFor="let respuesta of preguntaActual.respuestas">
            <button type="button" (click)="opcion(respuesta)" class="btn btn-block btn-personalizado-inverso opcion">{{
              respuesta.respuesta }}</button>
          </div>
        </div>
      </div>
      <div *ngIf="revision">
        <div class="text-center">
          <h1 style="color: #c0def6" *ngIf="timeLeft > 5">
            {{ timeLeft }} <i class="fa fa-clock-o"></i>
          </h1>
          <h1 style="color: red" *ngIf="timeLeft <= 5">
            {{ timeLeft }} <i class="fa fa-clock-o"></i>
          </h1>
        </div>
        <div class="pregunta margin-bottom-30">
          <p>{{ preguntaActual.pregunta }}</p>
        </div>
        <div class="respuesta" *ngFor="let respuesta of preguntaActual.respuestas">
          <button type="button" *ngIf="respuesta.id === opcionCorrecta.id" class="btn btn-block btn-success opcion">{{
            respuesta.respuesta }}</button>
          <button type="button"
            *ngIf="opcionElegida && respuesta.id === opcionElegida.id && respuesta.id !== opcionCorrecta.id"
            class="btn btn-block btn-danger opcion">{{ respuesta.respuesta }}</button>
          <button type="button"
            *ngIf="opcionElegida && respuesta.id !== opcionCorrecta.id && respuesta.id !== opcionElegida.id"
            class="btn btn-block btn-light opcion">{{ respuesta.respuesta }}</button>
          <button type="button" *ngIf="!opcionElegida && respuesta.id !== opcionCorrecta.id"
            class="btn btn-block btn-light opcion">{{ respuesta.respuesta }}</button>
        </div>
        <div *ngIf="correcto" class="text-center textoCorrecto">
          <i class="fa fa-smile-o"></i>
        </div>
        <div *ngIf="!correcto" class="text-center textoIncorrecto">
          <i class="fa fa-frown-o"></i>
        </div>
        <button type="button" (click)="continuar()" class="btn btn-lg btn-block btn-personalizado-inverso">
          Continuar
        </button>
      </div>
      <div *ngIf="final">
        <div class="text-center">
          <h3 style="color: #c0def6">Respuestas correctas:</h3>
          <h3 style="color: #c0def6">
            {{ respuestasCorrectas }} / {{ cantidadPreguntas }}
          </h3>
        </div>
        <button type="button" (click)="finalizar()" class="btn btn-lg btn-block btn-personalizado-inverso">
          Finalizar
        </button>
      </div>
    </div>

    <!--   <button (click)='startTimer()'>Start Timer</button>
    <button (click)='pauseTimer()'>Pause</button>
   -->
  </section>
</div>