<section id="home-alumno" class="margin-top-90">
  <div class="container">

    <div class="col-sm-12 d-flex justify-content-center" style="margin-bottom: 10px;" >
        <img class="imagen-avatar"  src="{{ alumno.avatarUrl }}">
    </div>
      <div class="col-sm-12 d-flex justify-content-center" style="margin-bottom: 20px;" >
        <div class="nombre">
          {{ alumno.nombre }}
        </div>
      </div>
      <div class="form-group">
        <label for="nombre" style="color:white;">Registrarme a un curso</label>
        <input id="InputCodigoCurso" [(ngModel)]="codigoCurso" type="text" name="codigoCurso" class="form-control" placeholder="Codigo de Invitacion" required autocomplete="off">
        <button type="button" style="text-align: center;" (click)="regsitroCurso()" class="btn btn-personalizado-inverso btn-lg btn-block margin-bottom-16">Inscribirme a un curso</button>
      </div>

      <ul class="list-group list-group-flush margin-bottom-16">
        
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong style="align-content: center;">Cursos</strong>
        </li>
        <li *ngFor="let curso of cursos" class="list-group-item d-flex justify-content-between align-items-center">
          <div (click)="irACurso(curso.id)"><img style="height: 31px; margin-right: 10px;" src="{{ curso.iconoURL }}">{{ curso.nombre }}</div>
        </li>
      </ul>
<!-- Modal -->
<button id="open-modal" [hidden]="true" data-toggle="modal" data-target="#informacion">Open Modal</button>
<div class="modal fade" id="informacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edusis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ mensaje }}
      </div>
      <div class="modal-footer" *ngIf=!esregistro>
        <button type="button" data-dismiss="modal" class="btn btn-personalizado">Aceptar</button>
      </div>
      <div class="modal-footer" *ngIf=esregistro>
        <button type="button" data-dismiss="modal" (click)="confirmarRegistro()" class="btn btn-personalizado">Inscribirme!</button>
        <button type="button" data-dismiss="modal" class="btn btn-personalizado" >Cancelar</button>
      </div>
    </div>
  </div>
</div>
