/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: LemonYellow;
  src: url("assets/fonts/LemonYellow.otf") format("opentype");
}

@font-face {
  font-family: SpaceKids;
  src: url("assets/fonts/Space kids.otf") format("opentype");
}

* {
  touch-action: manipulation;
}

img {  
  user-drag: none;  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-padding {
  padding: 0px !important;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.btn-info {
  transition: transform 0.2s ease;
  box-shadow: 0 6px 0 #127f90
}

.without-shadow {
  box-shadow: 0 0 0 0 !important;
}

.btn-danger {
  transition: transform 0.2s ease;
  box-shadow: 0 6px 0 #a92835
}

.btn-personalizado {
  transition: transform 0.2s ease;
  background-color: #13334c  !important;
  box-shadow: 0 6px 0 #061e31;
  color: #f5db77 !important;
}

.btn-personalizado:active {
  box-shadow: none;
  transform: translateY(6px);
}

.btn-personalizado:hover {
  background-color: #204d70 !important;
  color: #c2ab53 !important;
}

.btn-personalizado-txtblanco {
  transition: transform 0.2s ease;
  background-color: #13334c  !important;
  color: #ffffff !important;
  box-shadow: 0 6px 0 #061e31;
}

.btn-personalizado-txtblanco:hover {
  background-color: #204d70 !important;
  color: #ffffff !important;
}

.btn-personalizado-inverso {
  transition: transform 0.2s ease;
  background-color: #f5db77 !important;
  box-shadow: 0 8px 0 #c2ab53;
  color: #13334c !important;
}

.btn-personalizado-inverso:active {
  box-shadow: 0 8px 0 #f5db77 !important ;
	transform: translateY(8px);
}

 .btn-personalizado-inverso:hover { 
   background-color: #f5db77 !important;
   box-shadow: 0 8px 0 #c2ab53;
} 


.swal2-styled.swal2-confirm {
  background-color: #13334c !important;
}

.modal {
  text-align: center;
}

@media screen { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

