/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: LemonYellow;
  src: url("assets/fonts/LemonYellow.otf") format("opentype");
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-padding {
  padding: 0px !important;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-60 {
  margin-top: 60px;
}
.margin-top-90 {
  margin-top: 90px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.btn-personalizado {
  background-color: #53ACAB !important;
  color: #f5db77 !important;
}

.btn-personalizado:hover {
  background-color: #3d8a89 !important;
  color: #c2ab53 !important;
}

.btn-personalizado-inverso {
  background-color: #f5db77 !important;
  color: #53ACAB !important;
}

.btn-personalizado-inverso:hover {
  background-color: #c2ab53 !important;
  color: #3d8a89 !important;
}

.modal {
  text-align: center;
}

@media screen { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}